#divTotal {
    background-color: #22ddcc;
    font-weight: bold;
}

section {
    background-color: #99ddcc;
    width:40%;
    float: left;
    font-size: 18px;
}
section h3 {
    margin-left: 20px;
}
#divInstr {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 20px;
}
#calculator {
    margin-left: 40px;
}
aside {
    background-color: #ddcc99;
    width: 60%;
    float:left;
    height:311px;
    font-size:18px;
}
aside h3 {
    margin-left: 20px;
}
aside div {
    margin-left: 40px;
}
header {
    background-color: #dd99cc;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
}