#divTotal {
    background-color: #22ddcc;
    font-weight: bold;
    font-size:24px;
}
article {
    background-color: #555555;
    height: min-content;
    display: flex;
}
main {
    background-color: #000000;
    height:100%;
}
body {
    background-color: #000000;
}
section {
    background-color: #88ccbb;
    color: #333333;
    line-height: 1.5em;
    width: 40%;

    font-size: 20px;
    height: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: inline-block !important;
    min-width: 560px;
}
section h3 {
    margin-left: -20px;
}
#divInstr {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 20px;
}
#calculator {
    margin-left: 40px;
}
aside {
    background: linear-gradient(to right,#ddcc99,#ffffff);
    color: #333333;
    display: inline-block;
    font-size:20px;
    line-height: 1.5em;
    padding-top: 1%;
}
aside h3 {
    margin-left: 20px;
}
aside div {
    margin-left: 40px;
}
header {
    /*background-color: #dd99cc;*/
    background: linear-gradient(to right, #dd99cc,#ffbbee);
    color: #333333;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

.divRadios {
    margin-left: 100px;
}

input[type=radio] {
    width: 0.9em;
    height: 0.9em;
}